In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi.csv.xz')

In [3]:
mb = 2 ** 20
df.memory_usage(deep=True).sum() / mb

153.54137992858887

In [4]:
df = pd.read_csv('taxi.csv.xz', usecols=['VendorID', 'total_amount'])
# use specific columns

In [5]:
df.memory_usage(deep=True).sum() / mb

7.6295013427734375

In [7]:
df = pd.read_csv('taxi.csv.xz', 
                    usecols=['VendorID', 'total_amount'], 
                    chunksize=100_000)

In [8]:
df  # iterable text reader

In [9]:
for df in pd.read_csv('taxi.csv.xz', 
                    usecols=['VendorID', 'total_amount'], 
                    chunksize=100_000):
    print(len(df))

100000
100000
100000
100000
99999

In [10]:
revs = []

for df in pd.read_csv('taxi.csv.xz', 
                    usecols=['VendorID', 'total_amount'], 
                    chunksize=100_000):
    
    rev = df.groupby('VendorID').sum()
    revs.append(rev)

In [11]:
pd.concat(revs).groupby(level=0).sum()

          total_amount
VendorID
1           3549029.11
2           4754096.58
4                64.86