In [1]:
!ls

logs-1.csv.xz  mean_dist.py
logs-2.csv.xz  taxi.csv.xz
logs-3.csv.xz  using_dask-eec83fb1-7532-4e5d-baf9-5aeed698803e.ipynb
logs-4.csv.xz  using_dask.ipynb
logs-5.csv.xz

In [2]:
import dask.dataframe as dd

In [ ]:
df = dd.read_csv(['logs-1.csv.xz', 
                'logs-2.csv.xz', 
                'logs-3.csv.xz',
                'logs-4.csv.xz', 
                'logs-5.csv.xz'], 
                compression='lzma', 
                blocksize=None)

In [ ]:
df

Dask DataFrame Structure:
               origin    time  method    path status_code   size
npartitions=5
               object  object  object  object       int64  int64
                  ...     ...     ...     ...         ...    ...
...               ...     ...     ...     ...         ...    ...
                  ...     ...     ...     ...         ...    ...
                  ...     ...     ...     ...         ...    ...
Dask Name: read-csv, 5 tasks

In [ ]:
len(df)  # dask is lazy

1000000

In [ ]:
df.groupby('status_code')['size'].count()

Dask Series Structure:
npartitions=1
    int64
      ...
Name: size, dtype: int64
Dask Name: series-groupby-count-agg, 11 tasks

In [ ]:
df.groupby('status_code')['size'].count().compute()