In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('logs_1.csv.xz')

In [5]:
len(df)

50000

In [6]:
df.sample(5)

,origin,time,method,path,status_code,size
23862,link076.txdirect.net,1995-08-17T00:31:18,GET,/software/winvn/winvn.gif,200,25218
26929,ice.priconet.de,1995-08-18T15:17:23,GET,/shuttle/missions/sts-68/images/ksc-upclose.gif,200,86984
48369,ttyu5.tyrell.net,1995-08-31T11:11:43,GET,/shuttle/countdown/,304,0
2263,pm2_7.digital.net,1995-08-03T21:47:27,GET,/,200,7034
6515,x-l1-plaza-8.scu.edu.au,1995-08-07T07:10:44,GET,/images/ksclogo-medium.gif,200,5866

In [7]:
df['time'][48]

'1995-08-01T00:49:20'

In [8]:
def is_morning(ts):
    t = pd.to_datetime(ts)
    return t.hour >= 6 and t.hour < 12

In [9]:
len(df[df['time'].apply(is_morning)])

13004

In [10]:
%timeit len(df[df['time'].apply(is_morning)])

17.6 s ± 258 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
df = pd.read_csv('logs_1.csv.xz', parse_dates=['time'])

In [12]:
len(df[(df['time'].dt.hour >= 6) & (df['time'].dt.hour < 12)])

13004

In [13]:
%timeit len(df[(df['time'].dt.hour >= 6) & (df['time'].dt.hour < 12)])

30.4 ms ± 787 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [14]:
17600 / 30.4  # speed up by 579x

578.9473684210527

In [ ]:
# best to only convert once