In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('bikes.db')

In [5]:
query = """
        SELECT name, sql
        FROM sqlite_master
        WHERE type = 'table'
"""

In [6]:
for name, sql in conn.execute(query):
    print(name)
    print(sql)

bike_rides
CREATE TABLE bike_rides(
  year INT,
  month INT,
  day INT,
  trip_id INT,
  bike_id INT,
  duration INT
)

In [7]:
conn.execute("SELECT MAX(year), MIN(year) FROM bike_rides").fetchall()

[(2017, 2016)]

In [9]:
import pandas as pd

In [8]:
query = """
        SELECT year, month, duration
        FROM bike_rides
        WHERE year == 2016 or year == 2017
"""

In [10]:
df = pd.read_sql(query, conn)

In [11]:
df.groupby(['year', 'month'])['duration'].median()

year  month
2016  1        14.0
      2        15.0
      3        14.0
      5        15.0
      6        14.0
      7        15.0
      8        13.0
      9        15.0
      10       16.0
      11       14.0
2017  1        14.0
      2        16.0
      3        14.0
      4        18.0
      5        18.0
      6        16.0
      7        16.0
      8        13.0
      9        17.0
      10       16.0
      11       18.0
      12       16.0
Name: duration, dtype: float64