In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cart.csv')

In [3]:
df

  Customer         Item  Amount  Item Price
0     Rick         Wine      20      103.20
1    Morty  Almond Milk       1       10.04
2   Summer    Ice Cream       1        8.32
3     Beth         Comb       1        7.30
4    Jerry      Tequila       2       20.34

In [4]:
df['Item Price'] > 10

0     True
1     True
2    False
3    False
4     True
Name: Item Price, dtype: bool

In [5]:
mask = df['Item Price'] > 10

In [9]:
df[mask]

  Customer         Item  Amount  Item Price
0     Rick         Wine      20      103.20
1    Morty  Almond Milk       1       10.04
4    Jerry      Tequila       2       20.34

In [10]:
df[df['Item Price'] > 10]

  Customer         Item  Amount  Item Price
0     Rick         Wine      20      103.20
1    Morty  Almond Milk       1       10.04
4    Jerry      Tequila       2       20.34

In [11]:
import sqlite3

In [12]:
conn = sqlite3.connect('logs.db', detect_types=sqlite3.PARSE_DECLTYPES)

In [13]:
df = pd.read_sql('SELECT * FROM logs', conn)

In [14]:
len(df)

10000

In [15]:
%%timeit
total = 0
for _, row in df.iterrows():
    if row['status_code'] >= 400:
        total += 1

5.65 s ± 686 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%timeit len(df[df['status_code'] >= 400])

2.39 ms ± 522 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
5650 / 2.39  # speed up by 2364x

2364.0167364016734