In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('logs.csv.xz')

In [3]:
df.dtypes

origin         object
date           object
time           object
method         object
path           object
status_code     int64
size            int64
dtype: object

In [4]:
df[['date', 'time']].head()

         date      time
0  1995-07-01  00:00:01
1  1995-07-01  00:00:06
2  1995-07-01  00:00:09
3  1995-07-01  00:00:11
4  1995-07-01  00:00:11

In [5]:
df['time'].nunique()

6533

In [6]:
%timeit df['time'].nunique()

5.31 ms ± 44 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
df['time_ts'] = pd.to_datetime(df['time'])

In [8]:
%timeit df['time_ts'].nunique()

1e+03 µs ± 21.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
# using properly formated types is more efficient than 'object'

In [10]:
5310 / 1e+03  # speed up by 5.3x

5.31